<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <title>ui.swiper by nebulr</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="stylesheets/normalize.css" media="screen">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css" media="screen">
    <link rel="stylesheet" type="text/css" href="stylesheets/github-light.css" media="screen">

    <link rel="stylesheet" href="./dist/angular-ui-swiper.css" />
    <script src="./js/angular.js"></script>
    <script src="./dist/angular-ui-swiper.js"></script>
    <script src="./js/app.js"></script>
  </head>

  <body ng-app="app" ng-controller="AppController">
    <section class="page-header">
      <h1 class="project-name">ui.swiper</h1>
      <h2 class="project-tagline">Most modern mobile touch slider for angular js</h2>
      <a href="https://github.com/nebulr/ui-swiper" class="btn">View on GitHub</a>
      <a href="https://github.com/nebulr/ui-swiper/zipball/master" class="btn">Download .zip</a>
      <a href="https://github.com/nebulr/ui-swiper/tarball/master" class="btn">Download .tar.gz</a>
    </section>

    <section class="main-content">
      <p>This is an angular implementation of <a href="http://idangero.us/swiper/get-started/">http://idangero.us/swiper/get-started/</a>
This requires no dependencies and written entirely in angular! ( That means no swiper install or jquery install necessary )</p>

<h1>
<a id="install" class="anchor" href="#install" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>Install</h1>

<p><code>bower install angular-ui-swiper</code>

<h1>
<a id="add-files" class="anchor" href="#add-files" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>Add files</h1>

<pre><code>&lt;link rel="stylesheet" href="bower_components/angular-ui-swiper/dist/angular-ui-swiper.css"/&gt;
&lt;script src="bower_components/angular-ui-swiper/dist/angular-ui-swiper.js"&gt;&lt;/script&gt;
</code></pre>

<h1>
<a id="usage" class="anchor" href="#usage" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>Usage</h1>

<p>Add the module dependency to your project
<code>angular.module('app', ['ui.swiper']);</code></p>

<p>Sample Usage :</p>

<pre><code>&lt;swiper&gt;
  &lt;slides&gt;
    &lt;slide&gt;Slide1&lt;/slide&gt;
    &lt;slide&gt;Slide2&lt;/slide&gt;
  &lt;/slides&gt;
  &lt;prev&gt;&lt;/prev&gt;
  &lt;next&gt;&lt;/next&gt;
  &lt;pagination&gt;&lt;/pagination&gt;
&lt;/swiper&gt;
</code></pre>

<p>See here you added a swiper with pagination and directional buttons.
Within the slide tag you can put <strong>whatever html you want to put in there!</strong></p>

    <!-- Demo styles -->
    <style>
    section.swipe {
      background: #eee;
      width: 100%;
      margin: 0 auto;
      height: 340px;
      padding: 20px;
    }
    .swiper-container {
        width: 500px;
        height: 300px;
    }
    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }
    </style>
    <h1>Default Setup</h1>
  <section class="swipe">
    <swiper>
      <slides>
        <slide>Slide 1</slide>
        <slide>Slide 2</slide>
        <slide>Slide 3</slide>
        <slide>Slide 4</slide>
        <slide>Slide 5</slide>
        <slide>Slide 6</slide>
        <slide>Slide 7</slide>
        <slide>Slide 8</slide>
        <slide>Slide 9</slide>
      </slides>
    </swiper>
  </section>

  <h1>Paging</h1>
  <section class="swipe">
    <swiper>
      <slides>
        <slide>Slide 1</slide>
        <slide>Slide 2</slide>
        <slide>Slide 3</slide>
        <slide>Slide 4</slide>
        <slide>Slide 5</slide>
        <slide>Slide 6</slide>
        <slide>Slide 7</slide>
        <slide>Slide 8</slide>
        <slide>Slide 9</slide>
      </slides>
      <pagination></pagination>
    </swiper>
  </section>

  <h1>Paging and navigation</h1>
  <section class="swipe">
      <swiper>
        <slides>
          <slide>Slide 1</slide>
          <slide>Slide 2</slide>
          <slide>Slide 3</slide>
          <slide>Slide 4</slide>
          <slide>Slide 5</slide>
          <slide>Slide 6</slide>
          <slide>Slide 7</slide>
          <slide>Slide 8</slide>
          <slide>Slide 9</slide>
        </slides>
        <prev></prev>
        <next></next>
        <pagination></pagination>
      </swiper>
  </section>

  <h1>3D Cube Effect</h1>
  <section class="swipe">
    <swiper
    effect="cube"
    grab-cursor="true"
    cube="{
            shadow: true,
            slideShadows: true,
            shadowOffset: 20,
            shadowScale: 0.94
        }"
    style="width: 300px; height: 300px; position: absolute; left: 50%; margin-left: -150px;"
    >
      <slides>
        <slide style="background-image:url(http://lorempixel.com/600/600/nature/1)"></slide>
        <slide style="background-image:url(http://lorempixel.com/600/600/nature/2)"></slide>
        <slide style="background-image:url(http://lorempixel.com/600/600/nature/3)"></slide>
        <slide style="background-image:url(http://lorempixel.com/600/600/nature/4)"></slide>
      </slides>
      <pagination></pagination>
    </swiper>
  </section>

  <h1>Events</h1>
  <section class="swipe">
    <swiper on-transition-start="onTransitionStart">
      <slides>
        <slide>Slide 1</slide>
        <slide>Slide 2</slide>
        <slide>Slide 3</slide>
        <slide>Slide 4</slide>
        <slide>Slide 5</slide>
        <slide>Slide 6</slide>
        <slide>Slide 7</slide>
        <slide>Slide 8</slide>
        <slide>Slide 9</slide>
      </slides>
      <prev></prev>
      <next></next>
      <pagination></pagination>
    </swiper>
  </section>

  <h1>ng-repeat</h1>
  <section class="swipe">
    <swiper effect="coverflow">
      <slides>
        <slide ng-repeat="slide in slides">{{slide}}</slide>
      </slides>
      <prev></prev>
      <next></next>
      <pagination></pagination>
    </swiper>
  </section>

  <h1>Access the Swiper instance</h1>


  <pre><code>
  &lt;script&gt;
  ...
  $scope.setSlide = function (index) {
    $scope.instance.slideTo(index, 300);
  };
  ...
  &lt;/script&gt;

  &lt;swiper instance="instance"&gt;
    &lt;slides&gt;
      &lt;slide&gt;Slide1&lt;/slide&gt;
      &lt;slide&gt;Slide2&lt;/slide&gt;
    &lt;/slides&gt;
    &lt;prev&gt;&lt;/prev&gt;
    &lt;next&gt;&lt;/next&gt;
    &lt;pagination&gt;&lt;/pagination&gt;
  &lt;/swiper&gt;

  &lt;button ng-click="setSlide(1);"&lt;Go to Slide 2&lt;/button&lt;
  </code></pre>

  <section class="swipe">
    <swiper instance="instance">
      <slides>
        <slide>Slide 1</slide>
        <slide>Slide 2</slide>
        <slide>Slide 3</slide>
        <slide>Slide 4</slide>
        <slide>Slide 5</slide>
        <slide>Slide 6</slide>
        <slide>Slide 7</slide>
        <slide>Slide 8</slide>
        <slide>Slide 9</slide>
      </slides>
      <prev></prev>
      <next></next>
      <pagination></pagination>
    </swiper>
  </section>
  <button ng-click="setSlide(0);">Go to Slide 1</button>
  <button ng-click="setSlide(1);">Go to Slide 2</button>
  <button ng-click="setSlide(2);">Go to Slide 3</button>
  <button ng-click="setSlide(3);">Go to Slide 4</button>
  <button ng-click="setSlide(4);">Go to Slide 5</button>
  <button ng-click="setSlide(5);">Go to Slide 6</button>
  <button ng-click="setSlide(6);">Go to Slide 7</button>
  <button ng-click="setSlide(7);">Go to Slide 8</button>
  <button ng-click="setSlide(8);">Go to Slide 9</button>

  <h1>HTML Code in each slide</h1>
  <section class="swipe">
    <swiper>
      <slides>
        <slide>
          <div>
            <img src="http://lorempixel.com/500/200/nature/1">
            <div>
              <h3>Nature 1</h3>
              <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>
            </div>
          </div>
        </slide>
        <slide>
          <div>
            <img src="http://lorempixel.com/500/200/nature/2">
            <div>
              <h3>Nature 2</h3>
              <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>
            </div>
          </div>
        </slide>
        <slide>
          <div>
            <img src="http://lorempixel.com/500/200/nature/3">
            <div>
              <h3>Nature 3</h3>
              <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>
            </div>
          </div>
        </slide>
      </slides>
      <prev></prev>
      <next></next>
      <pagination></pagination>
    </swiper>
  </section>
  <footer class="site-footer">
    <span class="site-footer-owner"><a href="https://github.com/nebulr/ui.swiper">ui.swiper</a> is maintained by <a href="https://github.com/nebulr">nebulr</a>.</span>
  </footer>

    </section>
  </body>
</html>
